> jupyter 使用 toc 扩展进行编辑,建议开启,比较方便阅读和查找

## _**Load Data**_
### / import lib
### / load df

In [1]:
# import libs
import pandas as pd
import numpy as np

import pprint  as pp
import sys
import zipfile

In [54]:
# load data (pass)
# for too large csv for git
# use zip to solve

'''
## set file env
project_folder = '~/git/udacity-private/_dsnd/p1_blog/project_stack/'
sub_folder_list = ['developer_survey_2019/','developer_survey_2018/','developer_survey_2017/']
file_prefix = 'survey_results_'
file_domain_list = ['public','schema']
file_type = '.csv'
zip_tpye= '.zip'

## set file var
f2019_public = project_folder + sub_folder_list[0] + file_prefix + file_domain_list[0] + file_type
f2019_shcema = project_folder + sub_folder_list[0] + file_prefix + file_domain_list[1] + file_type
f2018_public = project_folder + sub_folder_list[1] + file_prefix + file_domain_list[0] + file_type
f2018_shcema = project_folder + sub_folder_list[1] + file_prefix + file_domain_list[1] + file_type
f2017_public = project_folder + sub_folder_list[2] + file_prefix + file_domain_list[0] + file_type
f2017_shcema = project_folder + sub_folder_list[2] + file_prefix + file_domain_list[1] + file_type

## load file
df2019d = pd.read_csv(f2019_public)
df2019s = pd.read_csv(f2019_shcema)
df2018d = pd.read_csv(f2018_public)
df2018s = pd.read_csv(f2018_shcema)
df2017d = pd.read_csv(f2017_public)
df2017s = pd.read_csv(f2017_shcema)

## creat dflist
df_list = [df2019d, df2019s, df2018d, df2018s, df2017d, df2017s]

### refactory use dic
### https://stackoverflow.com/questions/6181935/how-do-you-create-different-variable-names-while-in-a-loop
'''

In [22]:
# load data from zip
## set file env (mac)
project_folder = '~/git/udacity-private/_dsnd/p1_blog/project_stack'
sub_folder_list = ['/developer_survey_2019/','developer_survey_2018/','developer_survey_2017/']
file_prefix = 'survey_results_'
file_domain_list = ['public','schema']
file_type = '.csv'
zip_type= '.zip'

## define zip file (only 2019 data)
f2019_zip = sub_folder_list[0] + file_prefix + file_domain_list[0] + file_type + zip_type
f2019_zip

## unzip file
!unzip -o ~/git/udacity-private/_dsnd/p1_blog/project_stack/developer_survey_2019/survey_results_public.csv.zip

Archive:  /Users/francis/git/udacity-private/_dsnd/p1_blog/project_stack/developer_survey_2019/survey_results_public.csv.zip
  inflating: survey_results_public.csv
  inflating: __MACOSX/._survey_results_public.csv

In [24]:
# check files
! pwd
! ls -al

/Users/francis/git/udacity-private/_dsnd/p1_blog/project_stack
total 414560
drwxr-xr-x  13 francis  staff        416  7 19 08:47 .
drwxr-xr-x   5 francis  staff        160  7 15 14:32 ..
-rw-r--r--@  1 francis  staff       6148  7 19 08:47 .DS_Store
drwxr-xr-x   6 francis  staff        192  7 16 09:07 .ipynb_checkpoints
drwxrwxr-x   3 francis  staff         96  7 19 08:47 __MACOSX
-rw-r--r--@  1 francis  staff      64532  7 15 14:57 capestone_report_Investigate.ipynb
-rw-r--r--@  1 francis  staff      18113  7 15 14:58 capestone_report_solution1.ipynb
-rw-r--r--@  1 francis  staff      43395  7 15 14:58 capestone_report_visual.ipynb
drwx------@  6 francis  staff        192  7 15 07:17 developer_survey_2017
drwx------@  8 francis  staff        256  7 19 06:44 developer_survey_2018
drwx------@  7 francis  staff        224  7 19 06:58 developer_survey_2019
-rw-r--r--@  1 francis  staff     302190  7 19 08:47 dsndp1_stack_survey.ipynb
-rw-r--r--   1 francis  staff  196592730  4 19 01:08 survey_results_public.csv

In [26]:
# load files

## set file env
project_folder = '~/git/udacity-private/_dsnd/p1_blog/project_stack/'
sub_folder_list = ['developer_survey_2019/','developer_survey_2018/','developer_survey_2017/']
file_prefix = 'survey_results_'
file_domain_list = ['public','schema']
file_type = '.csv'
zip_tpye= '.zip'

## set file var
f2019_public = file_prefix + file_domain_list[0] + file_type

## load file
df2019d = pd.read_csv(f2019_public)
#df2019s = pd.read_csv(f2019_shcema)
#df2018d = pd.read_csv(f2018_public)
#df2018s = pd.read_csv(f2018_shcema)
#df2017d = pd.read_csv(f2017_public)
#df2017s = pd.read_csv(f2017_shcema)

In [35]:
# delete csv file
!ls -al
!rm survey_results_public.csv
!ls -al
### need refactory on file handle
### may use zipfile, os, sys libs

total 872
drwxr-xr-x  12 francis  staff     384  7 19 08:54 .
drwxr-xr-x   5 francis  staff     160  7 15 14:32 ..
-rw-r--r--@  1 francis  staff    6148  7 19 08:47 .DS_Store
drwxr-xr-x   6 francis  staff     192  7 16 09:07 .ipynb_checkpoints
drwxrwxr-x   3 francis  staff      96  7 19 08:47 __MACOSX
-rw-r--r--@  1 francis  staff   64532  7 15 14:57 capestone_report_Investigate.ipynb
-rw-r--r--@  1 francis  staff   18113  7 15 14:58 capestone_report_solution1.ipynb
-rw-r--r--@  1 francis  staff   43395  7 15 14:58 capestone_report_visual.ipynb
drwx------@  6 francis  staff     192  7 15 07:17 developer_survey_2017
drwx------@  8 francis  staff     256  7 19 06:44 developer_survey_2018
drwx------@  6 francis  staff     192  7 19 08:53 developer_survey_2019
-rw-r--r--@  1 francis  staff  306611  7 19 08:53 dsndp1_stack_survey.ipynb
rm: survey_results_public.csv: No such file or directory
total 872
drwxr-xr-x  12 francis  staff     384  7 19 08:54 .
drwxr-xr-x   5 francis  staff     160  7 15 14:32 ..
-rw-r--r--@  1 francis  staff    6148  7 19 08:47 .DS_Store
drwxr-xr-x   6 francis  staff     192  7 16 09:07 .ipynb_checkpoints
drwxrwxr-x   3 francis  staff      96  7 19 08:47 __MACOSX
-rw-r--r--@  1 francis  staff   64532  7 15 14:57 capestone_report_Investigate.ipynb
-rw-r--r--@  1 francis  staff   18113  7 15 14:58 capestone_report_solution1.ipynb
-rw-r--r--@  1 francis  staff   43395  7 15 14:58 capestone_report_visual.ipynb
drwx------@  6 francis  staff     192  7 15 07:17 developer_survey_2017
drwx------@  8 francis  staff     256  7 19 06:44 developer_survey_2018
drwx------@  6 francis  staff     192  7 19 08:53 developer_survey_2019
-rw-r--r--@  1 francis  staff  306611  7 19 08:53 dsndp1_stack_survey.ipynb

In [37]:
df2019d.head(3)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult

In [66]:
# check df file (not run)
'''
for i in df_list:
    print('\n---checking item---\n')
    print(i.shape)
    print(i.info())
'''
### original checking many dfs, left for refactory

---checking item---

(88883, 85)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
Respondent                88883 non-null int64
MainBranch                88331 non-null object
Hobbyist                  88883 non-null object
OpenSourcer               88883 non-null object
OpenSource                86842 non-null object
Employment                87181 non-null object
Country                   88751 non-null object
Student                   87014 non-null object
EdLevel                   86390 non-null object
UndergradMajor            75614 non-null object
EduOther                  84260 non-null object
OrgSize                   71791 non-null object
DevType                   81335 non-null object
YearsCode                 87938 non-null object
Age1stCode                87634 non-null object
YearsCodePro              74331 non-null object
CareerSat                 72847 non-null object
JobSat                    70988 non-null object
MgrIdiot                  61159 non-null object
MgrMoney                  61157 non-null object
MgrWant                   61232 non-null object
JobSeek                   80555 non-null object
LastHireDate              79854 non-null object
LastInt                   67155 non-null object
FizzBuzz                  71344 non-null object
JobFactors                79371 non-null object
ResumeUpdate              77877 non-null object
CurrencySymbol            71392 non-null object
CurrencyDesc              71392 non-null object
CompTotal                 55945 non-null float64
CompFreq                  63268 non-null object
ConvertedComp             55823 non-null float64
WorkWeekHrs               64503 non-null float64
WorkPlan                  68914 non-null object
WorkChallenge             68141 non-null object
WorkRemote                70284 non-null object
WorkLoc                   70055 non-null object
ImpSyn                    71779 non-null object
CodeRev                   70390 non-null object
CodeRevHrs                49790 non-null float64
UnitTests                 62668 non-null object
PurchaseHow               61108 non-null object
PurchaseWhat              62029 non-null object
LanguageWorkedWith        87569 non-null object
LanguageDesireNextYear    84088 non-null object
DatabaseWorkedWith        76026 non-null object
DatabaseDesireNextYear    69147 non-null object
PlatformWorkedWith        80714 non-null object
PlatformDesireNextYear    77443 non-null object
WebFrameWorkedWith        65022 non-null object
WebFrameDesireNextYear    62944 non-null object
MiscTechWorkedWith        59586 non-null object
MiscTechDesireNextYear    64511 non-null object
DevEnviron                87317 non-null object
OpSys                     87851 non-null object
Containers                85366 non-null object
BlockchainOrg             48175 non-null object
BlockchainIs              60165 non-null object
BetterLife                86269 non-null object
ITperson                  87141 non-null object
OffOn                     86663 non-null object
SocialMedia               84437 non-null object
Extraversion              87305 non-null object
ScreenName                80486 non-null object
SOVisit1st                83877 non-null object
SOVisitFreq               88263 non-null object
SOVisitTo                 88086 non-null object
SOFindAnswer              87816 non-null object
SOTimeSaved               86344 non-null object
SOHowMuchTime             68378 non-null object
SOAccount                 87828 non-null object
SOPartFreq                74692 non-null object
SOJobs                    88066 non-null object
EntTeams                  87841 non-null object
SOComm                    88131 non-null object
WelcomeChange             85855 non-null object
SONewContent              69560 non-null object
Age                       79210 non-null float64
Gender                    85406 non-null object
Trans                     83607 non-null object
Sexuality                 76147 non-null object
Ethnicity                 76668 non-null object
Dependents                83059 non-null object
SurveyLength              86984 non-null object
SurveyEase                87081 non-null object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB
None

---checking item---

(85, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 2 columns):
Column          85 non-null object
QuestionText    85 non-null object
dtypes: object(2)
memory usage: 1.4+ KB
None

---checking item---

(98855, 129)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98855 entries, 0 to 98854
Columns: 129 entries, Respondent to SurveyEasy
dtypes: float64(41), int64(1), object(87)
memory usage: 97.3+ MB
None

---checking item---

(129, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 2 columns):
Column          129 non-null object
QuestionText    129 non-null object
dtypes: object(2)
memory usage: 2.1+ KB
None

---checking item---

(51392, 154)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51392 entries, 0 to 51391
Columns: 154 entries, Respondent to ExpectedSalary
dtypes: float64(6), int64(1), object(147)
memory usage: 60.4+ MB
None

---checking item---

(154, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 2 columns):
Column      154 non-null object
Question    154 non-null object
dtypes: object(2)
memory usage: 2.5+ KB
None

### / check feature

In [86]:
# check features (not run)
## there are too many features
## featrues diffs form year to year

## load column as array
q2019_array = df2019s.Column.values
q2018_array = df2018s.Column.values
q2017_array = df2017s.Column.values

### list name can not start with int

In [94]:
## check similarity
len(q2019_array), len(q2018_array), len(q2017_array)

(85, 129, 154)

In [95]:
len(np.intersect1d(q2019_array,q2018_array))

17

In [91]:
len(np.intersect1d(q2019_array,q2017_array))

3

In [93]:
len(np.intersect1d(q2018_array,q2017_array))
## too many different / human check
## only use 2019 data for analysis

17

In [108]:
# dive into 2019
df2019d.head(3)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult

In [187]:
## example of value counts at a featrue
df2019d.Student.value_counts()

No                65816
Yes, full-time    15769
Yes, part-time     5429
Name: Student, dtype: int64

In [132]:
## example of how to observe two feature are related
df2019d.groupby(['CareerSat','JobSat'])['CareerSat'].count()
### dataframe has catagory dtype, research later
### https://pbpython.com/pandas_dtypes_cat.html

CareerSat                           JobSat
Neither satisfied nor dissatisfied  Neither satisfied nor dissatisfied     2926
                                    Slightly dissatisfied                  1705
                                    Slightly satisfied                     1484
                                    Very dissatisfied                       409
                                    Very satisfied                          303
Slightly dissatisfied               Neither satisfied nor dissatisfied      980
                                    Slightly dissatisfied                  3894
                                    Slightly satisfied                      888
                                    Very dissatisfied                      1294
                                    Very satisfied                          253
Slightly satisfied                  Neither satisfied nor dissatisfied     3323
                                    Slightly dissatisfied                  3135
                                    Slightly satisfied                    13588
                                    Very dissatisfied                       724
                                    Very satisfied                         3761
Very dissatisfied                   Neither satisfied nor dissatisfied      269
                                    Slightly dissatisfied                   753
                                    Slightly satisfied                      322
                                    Very dissatisfied                      1940
                                    Very satisfied                          245
Very satisfied                      Neither satisfied nor dissatisfied     1222
                                    Slightly dissatisfied                  1265
                                    Slightly satisfied                     7925
                                    Very dissatisfied                       490
                                    Very satisfied                        17890
Name: CareerSat, dtype: int64

In [188]:
### observe 2019 columns
q2019_array

array(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer',
       'OpenSource', 'Employment', 'Country', 'Student', 'EdLevel',
       'UndergradMajor', 'EduOther', 'OrgSize', 'DevType', 'YearsCode',
       'Age1stCode', 'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot',
       'MgrMoney', 'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt',
       'FizzBuzz', 'JobFactors', 'ResumeUpdate', 'CurrencySymbol',
       'CurrencyDesc', 'CompTotal', 'CompFreq', 'ConvertedComp',
       'WorkWeekHrs', 'WorkPlan', 'WorkChallenge', 'WorkRemote',
       'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender',
       'Trans', 'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength',
       'SurveyEase'], dtype=object)

In [7]:
# load df
## read_jason 有很多参数,可以参考官方文档
## 此处要加 lines=True
## https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html

### / update df

In [44]:
# only get select features
select_list = ['MainBranch','OpenSourcer','OpenSource','Employment','Age','Student','EdLevel','UndergradMajor','EduOther',
              'OrgSize','DevType','YearsCode','CareerSat','JobSeek','JobFactors','ConvertedComp','WorkWeekHrs','WorkPlan','WorkChallenge','WorkRemote','ImpSyn',
              'LanguageWorkedWith','LanguageDesireNextYear','DatabaseWorkedWith','DatabaseDesireNextYear','DevEnviron','OpSys','BetterLife',
              'SOVisitFreq','SOVisitTo','SOFindAnswer','SOTimeSaved','SOHowMuchTime','SOPartFreq','SOJobs','EntTeams','SOComm','WelcomeChange','SONewContent']

In [45]:
## df copy for assesment
df = df2019d[select_list]

In [48]:
## check columns
print(len(df.columns))
df.columns

39

Index(['MainBranch', 'OpenSourcer', 'OpenSource', 'Employment', 'Age',
       'Student', 'EdLevel', 'UndergradMajor', 'EduOther', 'OrgSize',
       'DevType', 'YearsCode', 'CareerSat', 'JobSeek', 'JobFactors',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'ImpSyn', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'DevEnviron', 'OpSys',
       'BetterLife', 'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOPartFreq', 'SOJobs', 'EntTeams', 'SOComm',
       'WelcomeChange', 'SONewContent'],
      dtype='object')

In [59]:
# check null value
## 0.2 count
round(df.shape[0] * 0.2)

17777

In [57]:
## check columns
df.isnull().sum()

MainBranch                  552
OpenSourcer                   0
OpenSource                 2041
Employment                 1702
Age                        9673
Student                    1869
EdLevel                    2493
UndergradMajor            13269
EduOther                   4623
OrgSize                   17092
DevType                    7548
YearsCode                   945
CareerSat                 16036
JobSeek                    8328
JobFactors                 9512
ConvertedComp             33060
WorkWeekHrs               24380
WorkPlan                  19969
WorkChallenge             20742
WorkRemote                18599
ImpSyn                    17104
LanguageWorkedWith         1314
LanguageDesireNextYear     4795
DatabaseWorkedWith        12857
DatabaseDesireNextYear    19736
DevEnviron                 1566
OpSys                      1032
BetterLife                 2614
SOVisitFreq                 620
SOVisitTo                   797
SOFindAnswer               1067
SOTimeSaved                2539
SOHowMuchTime             20505
SOPartFreq                14191
SOJobs                      817
EntTeams                   1042
SOComm                      752
WelcomeChange              3028
SONewContent              19323
dtype: int64

In [61]:
# update
select_list_updated = ['MainBranch','OpenSourcer','OpenSource','Employment','Age','Student','EdLevel','UndergradMajor','EduOther',
              'OrgSize','DevType','YearsCode','CareerSat','JobSeek','JobFactors','ConvertedComp','WorkWeekHrs','WorkChallenge','ImpSyn',
              'LanguageWorkedWith','LanguageDesireNextYear','DatabaseWorkedWith','DatabaseDesireNextYear','DevEnviron','OpSys','BetterLife',
              'SOVisitFreq','SOVisitTo','SOFindAnswer','SOTimeSaved','SOPartFreq','SOJobs','EntTeams','SOComm','WelcomeChange']
df = df2019d[select_list_updated]
print(len(df.columns))
df.columns

35

Index(['MainBranch', 'OpenSourcer', 'OpenSource', 'Employment', 'Age',
       'Student', 'EdLevel', 'UndergradMajor', 'EduOther', 'OrgSize',
       'DevType', 'YearsCode', 'CareerSat', 'JobSeek', 'JobFactors',
       'ConvertedComp', 'WorkWeekHrs', 'WorkChallenge', 'ImpSyn',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'DevEnviron', 'OpSys', 'BetterLife',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved', 'SOPartFreq',
       'SOJobs', 'EntTeams', 'SOComm', 'WelcomeChange'],
      dtype='object')

In [62]:
# check sample
df.sample(3)

,MainBranch,OpenSourcer,OpenSource,Employment,Age,Student,EdLevel,UndergradMajor,EduOther,OrgSize,...,BetterLife,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange
52257,I am a developer by profession,Never,The quality of OSS and closed source software ...,Employed full-time,36.0,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"1,000 to 4,999 employees",...,No,Multiple times per day,Find answers to specific questions;Get a sense...,3-5 times per week,Stack Overflow was slightly faster,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year
29895,I am a developer by profession,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,35.0,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Completed an industry certification program (e...,20 to 99 employees,...,Yes,Multiple times per day,Find answers to specific questions;Contribute ...,More than 10 times per week,Stack Overflow was much faster,Less than once per month or monthly,Yes,"No, and I don't know what those are","Yes, definitely",Just as welcome now as I felt last year
77293,I am a developer by profession,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,27.0,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,500 to 999 employees,...,Yes,A few times per week,Find answers to specific questions;Learn how t...,1-2 times per week,They were about the same,NaN,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year

In [ ]:
# persistence

## _**Prepare Data**_
### / functions
#### // check_sample(df)

In [9]:
# build function (base on solution2)
def check_sample(df):
    sample = df.sample(1)
    print('----checking sample index: {}'.format(sample.index[0]))
    ### sometimes pp is uncaptible with .format
    i = 1
    for (colname, coldata) in sample.iteritems():
        print('\n- columns #{} : {:-<8}'.format(i,colname))
        print(coldata.values)
        i += 1
    pp.pprint('----checking complete----')

# archive test
## solutions1 (col loop pass)
'''
sample = tweetdf.sample()
p('----checking sample index: {:-<8}'.format(sample.index[0]))

i = 1
for col in list(tweetdf.columns):
    print('\n- columns check {} : {:-<8}'.format(i,col))
    print(sample[col].values)
    i+=1
## 参考 https://thispointer.com/pandas-loop-or-iterate-over-all-or-certain-columns-of-a-dataframe/
'''

## solutuion2 (iteritem pass)
'''
sample = tweetdf.sample()
p('----checking sample index: {:-<8}'.format(sample.index[0]))


for (colname, coldata) in sample.iteritems():
    print('\n- columns check {} : {:-<8}'.format(i,colname))
    print(coldata.values)
    i += 1
''';

#### // check_info(df,list)

In [10]:
# build function
def check_info(df,list):
    c = 1
    for i in list:
        print(('\n- columns #{} : {:-<8}'.format(c,i)))
        print((df[i].value_counts().nlargest(5)))
        ### nlargest 非常好用
        c += 1
    pp.pprint('----checking complete----')

#### // check_detail(df,list)

In [11]:
# build function
def check_detail(df,list):
    sampe = df.sample(1)
    c = 1
    for i in list:
        print(('\n- columns #{} : {:-<8}'.format(c,i)))
        pp.pprint(df[i].iloc[0])
        c += 1
        ## 使用 pprint 优化 dict 显示

#### // drop_column

In [12]:
## build fuction
def drop_column(df,list):
    ## proceed
    dflen = len(df.columns)
    df.drop(list,axis=1,inplace=True)
    ### 在函数中要用 inplace=True 而不是赋值来作用于df
    ## check
    print('---- proceding ----')
    print('- drop {} columns: {} '.format(len(list), list))
    print('- remain {} columns'.format(len(df.columns)))
    print('- success : {}'.format(len(list) + len(df.columns) == dflen))

### / quanlity
#### // check1 - init drop

In [73]:
# check1 
## snip all columns
check_sample(tweetdf)

----checking sample index: 405

- columns #1 : contributors
[nan]

- columns #2 : coordinates
[nan]

- columns #3 : created_at
['2017-01-23T17:20:14.000000000']

- columns #4 : display_text_range
[list([0, 106])]

- columns #5 : entities
[{'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [], 'media': [{'id': 823581103512436736, 'id_str': '823581103512436736', 'indices': [107, 130], 'media_url': 'http://pbs.twimg.com/media/C23ypm6VQAAO31l.jpg', 'media_url_https': 'https://pbs.twimg.com/media/C23ypm6VQAAO31l.jpg', 'url': 'https://t.co/6F5Rrp472U', 'display_url': 'pic.twitter.com/6F5Rrp472U', 'expanded_url': 'https://twitter.com/dog_rates/status/823581115634085888/photo/1', 'type': 'photo', 'sizes': {'medium': {'w': 900, 'h': 1200, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 1536, 'h': 2048, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}}}]}]

- columns #6 : extended_entities
[{'media': [{'id': 823581103512436736, 'id_str': '823581103512436736', 'indices': [107, 130], 'media_url': 'http://pbs.twimg.com/media/C23ypm6VQAAO31l.jpg', 'media_url_https': 'https://pbs.twimg.com/media/C23ypm6VQAAO31l.jpg', 'url': 'https://t.co/6F5Rrp472U', 'display_url': 'pic.twitter.com/6F5Rrp472U', 'expanded_url': 'https://twitter.com/dog_rates/status/823581115634085888/photo/1', 'type': 'photo', 'sizes': {'medium': {'w': 900, 'h': 1200, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 1536, 'h': 2048, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}}}]}]

- columns #7 : favorite_count
[14336]

- columns #8 : favorited
[False]

- columns #9 : full_text
["This is Crawford. He's quite h*ckin good at the selfies. Nose is incredibly boopable. 11/10 would snapchat https://t.co/6F5Rrp472U"]

- columns #10 : geo-----
[nan]

- columns #11 : id------
[823581115634085888]

- columns #12 : id_str--
[823581115634085888]

- columns #13 : in_reply_to_screen_name
[None]

- columns #14 : in_reply_to_status_id
[nan]

- columns #15 : in_reply_to_status_id_str
[nan]

- columns #16 : in_reply_to_user_id
[nan]

- columns #17 : in_reply_to_user_id_str
[nan]

- columns #18 : is_quote_status
[False]

- columns #19 : lang----
['en']

- columns #20 : place---
[None]

- columns #21 : possibly_sensitive
[0.]

- columns #22 : possibly_sensitive_appealable
[0.]

- columns #23 : quoted_status
[nan]

- columns #24 : quoted_status_id
[nan]

- columns #25 : quoted_status_id_str
[nan]

- columns #26 : retweet_count
[3020]

- columns #27 : retweeted
[False]

- columns #28 : retweeted_status
[nan]

- columns #29 : source--
['<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>']

- columns #30 : truncated
[False]

- columns #31 : user----
[{'id': 4196983835, 'id_str': '4196983835', 'name': 'SpookyWeRateDogs™', 'screen_name': 'dog_rates', 'location': 'MERCH↴  DM DOGS. WE WILL RATE', 'description': 'Only Legit Source for Professional Dog Ratings STORE: @ShopWeRateDogs | IG, FB & SC: WeRateDogs | MOBILE APP: @GoodDogsGame Business: dogratingtwitter@gmail.com', 'url': 'https://t.co/N7sNNHAEXS', 'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHAEXS', 'expanded_url': 'http://weratedogs.com', 'display_url': 'weratedogs.com', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 3768855, 'friends_count': 107, 'listed_count': 3200, 'created_at': 'Sun Nov 15 21:41:29 +0000 2015', 'favourites_count': 120161, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 5749, 'lang': 'en', 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': '000000', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/914581071265755136/2h5uFpwU_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/914581071265755136/2h5uFpwU_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1506888628', 'profile_link_color': 'F5ABB5', 'profile_sidebar_border_color': '000000', 'profile_sidebar_fill_color': '000000', 'profile_text_color': '000000', 'profile_use_background_image': False, 'has_extended_profile': True, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}]
'----checking complete----'

In [14]:
## snip info
tweetdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2352 entries, 0 to 2351
Data columns (total 31 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       2352 non-null datetime64[ns]
display_text_range               2352 non-null object
entities                         2352 non-null object
extended_entities                2073 non-null object
favorite_count                   2352 non-null int64
favorited                        2352 non-null bool
full_text                        2352 non-null object
geo                              0 non-null float64
id                               2352 non-null int64
id_str                           2352 non-null int64
in_reply_to_screen_name          78 non-null object
in_reply_to_status_id            78 non-null float64
in_reply_to_status_id_str        78 non-null float64
in_reply_to_user_id              78 non-null float64
in_reply_to_user_id_str          78 non-null float64
is_quote_status                  2352 non-null bool
lang                             2352 non-null object
place                            1 non-null object
possibly_sensitive               2211 non-null float64
possibly_sensitive_appealable    2211 non-null float64
quoted_status                    28 non-null object
quoted_status_id                 29 non-null float64
quoted_status_id_str             29 non-null float64
retweet_count                    2352 non-null int64
retweeted                        2352 non-null bool
retweeted_status                 177 non-null object
source                           2352 non-null object
truncated                        2352 non-null bool
user                             2352 non-null object
dtypes: bool(4), datetime64[ns](1), float64(11), int64(4), object(11)
memory usage: 505.4+ KB

In [15]:
## define drop list
droplist1 = ['contributors','coordinates','geo','place','id_str','in_reply_to_status_id_str','in_reply_to_user_id_str','quoted_status_id_str']

In [16]:
## droplist1
droplist1 = ['contributors','coordinates','geo','place','id_str','in_reply_to_status_id_str','in_reply_to_user_id_str','quoted_status_id_str']

In [17]:
## drop1 excute
drop_column(tweetclean,droplist1)

---- proceding ----
- drop 8 columns: ['contributors', 'coordinates', 'geo', 'place', 'id_str', 'in_reply_to_status_id_str', 'in_reply_to_user_id_str', 'quoted_status_id_str']
- remain 23 columns
- success : True

#### // check2 - inspect drop

In [77]:
# check2
## snip remained columns
check_sample(tweetclean)

----checking sample index: 893

- columns #1 : created_at
['2016-07-29T15:27:55.000000000']

- columns #2 : display_text_range
[list([0, 84])]

- columns #3 : favorite_count
[7201]

- columns #4 : full_text
["This is Spencer. He's part of the Queen's Guard. Takes his job very seriously. 11/10 https://t.co/8W5iSOgXfx"]

- columns #5 : id------
[759047813560868866]

- columns #6 : retweet_count
[2291]

- columns #7 : source--
['<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>']
'----checking complete----'

In [19]:
## define inspect list
inslist1 = ['favorited','in_reply_to_screen_name','in_reply_to_status_id','in_reply_to_user_id','is_quote_status','lang','possibly_sensitive','possibly_sensitive_appealable','quoted_status_id','retweeted','truncated']
### special action below is altered

In [20]:
## inspect1 excute
check_info(tweetclean,inslist1)

- columns #1 : favorited
False    2352
Name: favorited, dtype: int64

- columns #2 : in_reply_to_screen_name
dog_rates          47
markhoppus          2
ABC                 1
CommonWhiteGirI     1
Marc_IRL            1
Name: in_reply_to_screen_name, dtype: int64

- columns #3 : in_reply_to_status_id
6.671522e+17    2
8.562860e+17    1
8.131273e+17    1
6.754971e+17    1
6.827884e+17    1
Name: in_reply_to_status_id, dtype: int64

- columns #4 : in_reply_to_user_id
4.196984e+09    47
2.195506e+07     2
7.305050e+17     1
2.916630e+07     1
3.105441e+09     1
Name: in_reply_to_user_id, dtype: int64

- columns #5 : is_quote_status
False    2321
True       31
Name: is_quote_status, dtype: int64

- columns #6 : lang----
en     2334
und       7
nl        3
in        3
et        1
Name: lang, dtype: int64

- columns #7 : possibly_sensitive
0.0    2211
Name: possibly_sensitive, dtype: int64

- columns #8 : possibly_sensitive_appealable
0.0    2211
Name: possibly_sensitive_appealable, dtype: int64

- columns #9 : quoted_status_id
8.340867e+17    1
8.413114e+17    1
7.061659e+17    1
8.860534e+17    1
8.464848e+17    1
Name: quoted_status_id, dtype: int64

- columns #10 : retweeted
False    2352
Name: retweeted, dtype: int64

- columns #11 : truncated
False    2352
Name: truncated, dtype: int64
'----checking complete----'

In [21]:
## special1 
### quoted_status is a dict, move it to detlist
### check values (almost is null)
tweetclean.quoted_status.isnull().value_counts()

True     2324
False      28
Name: quoted_status, dtype: int64

In [22]:
### many NaN
### check a sample
tweetclean[tweetclean.quoted_status.notnull()].sample(1).quoted_status.iloc[0]
### status is some extra info abou a forward

{'created_at': 'Sat Jun 03 18:46:59 +0000 2017',
 'id': 871075758080503809,
 'id_str': '871075758080503809',
 'full_text': "A dog's clever solution. https://t.co/7qNdrBVAlA",
 'truncated': False,
 'display_text_range': [0, 24],
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [],
  'media': [{'id': 871075694524203009,
    'id_str': '871075694524203009',
    'indices': [25, 48],
    'media_url': 'http://pbs.twimg.com/ext_tw_video_thumb/871075694524203009/pu/img/WAB4Nn412S6K-IY_.jpg',
    'media_url_https': 'https://pbs.twimg.com/ext_tw_video_thumb/871075694524203009/pu/img/WAB4Nn412S6K-IY_.jpg',
    'url': 'https://t.co/7qNdrBVAlA',
    'display_url': 'pic.twitter.com/7qNdrBVAlA',
    'expanded_url': 'https://twitter.com/animalcog/status/871075758080503809/video/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 600, 'h': 338, 'resize': 'fit'},
     'small': {'w': 340, 'h': 191, 'resize': 'fit'},
     'large': {'w': 1024, 'h': 576, 'resize': 'fit'}}}]},
 'extended_entities': {'media': [{'id': 871075694524203009,
    'id_str': '871075694524203009',
    'indices': [25, 48],
    'media_url': 'http://pbs.twimg.com/ext_tw_video_thumb/871075694524203009/pu/img/WAB4Nn412S6K-IY_.jpg',
    'media_url_https': 'https://pbs.twimg.com/ext_tw_video_thumb/871075694524203009/pu/img/WAB4Nn412S6K-IY_.jpg',
    'url': 'https://t.co/7qNdrBVAlA',
    'display_url': 'pic.twitter.com/7qNdrBVAlA',
    'expanded_url': 'https://twitter.com/animalcog/status/871075758080503809/video/1',
    'type': 'video',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 600, 'h': 338, 'resize': 'fit'},
     'small': {'w': 340, 'h': 191, 'resize': 'fit'},
     'large': {'w': 1024, 'h': 576, 'resize': 'fit'}},
    'video_info': {'aspect_ratio': [16, 9],
     'duration_millis': 36170,
     'variants': [{'bitrate': 832000,
       'content_type': 'video/mp4',
       'url': 'https://video.twimg.com/ext_tw_video/871075694524203009/pu/vid/640x360/8MNJRtaqh7cylswO.mp4'},
      {'content_type': 'application/x-mpegURL',
       'url': 'https://video.twimg.com/ext_tw_video/871075694524203009/pu/pl/_fg3rzHZb9J40wJb.m3u8'},
      {'bitrate': 320000,
       'content_type': 'video/mp4',
       'url': 'https://video.twimg.com/ext_tw_video/871075694524203009/pu/vid/320x180/PxWa9GGi0CIFtQaK.mp4'},
      {'bitrate': 2176000,
       'content_type': 'video/mp4',
       'url': 'https://video.twimg.com/ext_tw_video/871075694524203009/pu/vid/1280x720/s9r873KfVTspe_p1.mp4'}]},
    'additional_media_info': {'monetizable': False}}]},
 'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 2745835322,
  'id_str': '2745835322',
  'name': 'Animal Cognition',
  'screen_name': 'animalcog',
  'location': '',
  'description': 'Help us investigate the mental capacities of animals! https://t.co/7CCCV8goBy',
  'url': 'https://t.co/7CCCV8goBy',
  'entities': {'url': {'urls': [{'url': 'https://t.co/7CCCV8goBy',
      'expanded_url': 'http://patreon.com/animalcognition',
      'display_url': 'patreon.com/animalcognition',
      'indices': [0, 23]}]},
   'description': {'urls': [{'url': 'https://t.co/7CCCV8goBy',
      'expanded_url': 'http://patreon.com/animalcognition',
      'display_url': 'patreon.com/animalcognition',
      'indices': [54, 77]}]}},
  'protected': False,
  'followers_count': 10612,
  'friends_count': 1558,
  'listed_count': 164,
  'created_at': 'Tue Aug 19 17:40:56 +0000 2014',
  'favourites_count': 1490,
  'utc_offset': -25200,
  'time_zone': 'Pacific Time (US & Canada)',
  'geo_enabled': False,
  'verified': False,
  'statuses_count': 1493,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/574995919378063360/tWkNDOTF_normal.jpeg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/574995919378063360/tWkNDOTF_normal.jpeg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/2745835322/1465481545',
  'profile_link_color': '8EBC5A',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 11961,
 'favorite_count': 27298,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'possibly_sensitive_appealable': False,
 'lang': 'en'}

In [23]:
# special2
### in_reply_to_screen_name have value dog_rates for 47 times
tweetclean.query('in_reply_to_screen_name == "dog_rates"')

,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,id,in_reply_to_screen_name,in_reply_to_status_id,...,possibly_sensitive,possibly_sensitive_appealable,quoted_status,quoted_status_id,retweet_count,retweeted,retweeted_status,source,truncated,user
147,2017-05-12 17:12:53,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 863079538779013120, 'id_str'...",9068,False,Ladies and gentlemen... I found Pipsy. He may ...,863079547188785154,dog_rates,6.671522e+17,...,0.0,0.0,NaN,NaN,1188,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
181,2017-04-24 15:13:52,"[0, 112]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 856526604033556482, 'id_str'...",12412,False,"THIS IS CHARLIE, MARK. HE DID JUST WANT TO SAY...",856526610513747968,dog_rates,8.558181e+17,...,0.0,0.0,NaN,NaN,2053,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
225,2017-04-01 16:41:12,"[0, 135]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,8799,False,Jerry just apuppologized to me. He said there ...,848213670039564288,dog_rates,8.482121e+17,...,NaN,NaN,NaN,NaN,825,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
231,2017-03-31 01:11:22,"[18, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,7523,False,.@breaannanicolee PUPDATE: Cannon has a heart ...,847617282490613760,dog_rates,8.476062e+17,...,NaN,NaN,NaN,NaN,462,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
248,2017-03-23 18:29:57,"[0, 115]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 844979535204429824, 'id_str'...",14678,False,PUPDATE: I'm proud to announce that Toby is 23...,844979544864018432,dog_rates,7.590995e+17,...,0.0,0.0,NaN,NaN,2891,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
384,2017-02-01 01:11:25,"[0, 69]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,5617,False,"I was going to do 007/10, but the joke wasn't ...",826598799820865537,dog_rates,8.265984e+17,...,NaN,NaN,NaN,NaN,292,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
495,2016-12-25 21:12:41,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,4949,False,I've been informed by multiple sources that th...,813130366689148928,dog_rates,8.131273e+17,...,NaN,NaN,NaN,NaN,511,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
510,2016-12-21 19:01:02,"[0, 136]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,6189,False,PUPDATE: I've been informed that Augie was act...,811647686436880384,dog_rates,8.116272e+17,...,NaN,NaN,NaN,NaN,866,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
562,2016-11-25 21:37:47,"[0, 45]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 802265039247904768, 'id_str'...",7011,False,"Like doggo, like pupper version 2. Both 11/10 ...",802265048156610565,dog_rates,7.331095e+17,...,0.0,0.0,NaN,NaN,1568,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
839,2016-08-19 19:14:16,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,2862,False,His name is Charley and he already has a new s...,766714921925144576,dog_rates,7.667118e+17,...,NaN,NaN,NaN,NaN,435,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1001,2016-06-28 04:42:46,"[0, 132]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1510,False,Other pupper asked not to have his identity sh...,747651430853525504,dog_rates,7.476487e+17,...,NaN,NaN,NaN,NaN,177,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1012,2016-06-26 03:22:31,"[0, 95]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 746906454414790656, 'id_str'...",3158,False,"PUPDATE: can't see any. Even if I could, I cou...",746906459439529985,dog_rates,7.468859e+17,...,0.0,0.0,NaN,NaN,334,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1014,2016-06-25 21:34:37,"[0, 38]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 746818901464453120, 'id_str'...",5785,False,Guys... Dog Jesus 2.0\n13/10 buoyant af https:...,746818907684614144,dog_rates,6.914169e+17,...,0.0,0.0,NaN,NaN,1933,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1123,2016-05-10 01:00:58,"[0, 43]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 729838572744912896, 'id_str'...",1849,False,"""Challenge completed"" \n(pupgraded to 12/10) h...",729838605770891264,dog_rates,7.291135e+17,...,0.0,0.0,NaN,NaN,426,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1326,2016-03-04 16:06:36,"[0, 68]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 705786528321044482, 'id_str'...",2125,False,"Seriously, add us 🐶 11/10 for sad wet pupper h...",705786532653883392,dog_rates,7.032559e+17,...,0.0,0.0,NaN,NaN,592,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1335,2016-03-02 03:30:25,"[0, 53]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 704871447097905152, 'id_str'...",4564,False,I found a forest Pipsy. 12/10 https://t.co/mIQ...,704871453724954624,dog_rates,6.671522e+17,...,0.0,0.0,NaN,NaN,1244,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1352,2016-02-27 03:42:44,"[0, 135]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 703424980705538048, 'id_str'...",4153,False,Really guys? Again? I know this is a rare Alba...,703425003149250560,dog_rates,7.030419e+17,...,0.0,0.0,NaN,NaN,1554,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1442,2016-02-08 00:27:39,"[0, 101]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1334,False,After reading the comments I may have overesti...,696490539101908992,dog_rates,6.964887e+17,...,NaN,NaN,NaN,NaN,169,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1448,2016-02-06 00:35:13,"[0, 101]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 695767665437233153, 'id_str'...",2047,False,If you are aware of who is making these please...,695767669421768709,dog_rates,6.753494e+17,...,0.0,0.0,NaN,NaN,850,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1460,2016-02-02 03:08:26,"[0, 135]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 694356670072373248, 'id_str'...",1643,False,This pupper only appears through the hole of a...,694356675654983680,dog_rates,6.706684e+17,...,0.0,0.0,NaN,NaN,325,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1470,2016-01-31 03:57:23,"[0, 135]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1468,False,BREAKING PUPDATE: I've just been notified that...,693644216740769793,dog_rates,6.936422e+17,...,NaN,NaN,NaN,NaN,149,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1493,2016-01-27 19:05:49,"[0, 103]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1613,False,PUPDATE: just noticed this dog has some extra ...,692423280028966913,dog_rates,6.924173e+17,...,NaN,NaN,NaN,NaN,263,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1497,2016-01-27 00:31:15,"[0, 108]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 692142771344400384, 'id_str'...",1788,False,These are some pictures of Teddy that further ...,692142790915014657,dog_rates,6.920419e+17,...,0.0,0.0,NaN,NaN,437,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1594,2016-01-10 04:04:10,"[0, 136]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1271,False,Yes I do realize a rating of 4/20 would've bee...,686035780142297088,dog_rates,6.860340e+17,...,NaN,NaN,NaN,NaN,138,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1601,2016-01-09 04:34:45,"[0, 130]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,2219,False,Jack deserves another round of applause. If yo...,685681090388975616,dog_rates,6.855479e+17,...,NaN,NaN,NaN,NaN,143,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1614,2016-01-07 05:28:35,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,2509,False,"For those who claim this is a goat, u are wron...",684969860808454144,dog_rates,6.849598e+17,...,NaN,NaN,NaN,NaN,435,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1626,2016-01-06 00:54:18,"[0, 120]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 684538367950872576, 'id_str'...",2902,False,"After watching this video, we've determined th...",684538444857667585,dog_rates,6.844811e+17,...,0.0,0.0,NaN,NaN,1082,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1630,2016-01-05 04:11:44,"[0, 126]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 684225739852492800, 'id_str'...",1361,False,"Two sneaky puppers were not initially seen, mo...",684225744407494656,dog_rates,6.842229e+17,...,0.0,0.0,NaN,NaN,239,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1659,2016-01-01 06:22:03,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1941,False,"I'm aware that I could've said 20/16, but here...",682808988178739200,dog_rates,6.827884e+17,...,NaN,NaN,NaN,NaN,209,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1685,2015-12-28 05:07:27,"[0, 106]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1797,False,I've been told there's a slight possibility he...,681340665377193984,dog_rates,6.813394e+17,...,NaN,NaN,NaN,NaN,312,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1770,2015-12-19 01:25:31,"[0, 92]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,2085,False,After getting lost in Reese's eyes for several...,678023323247357953,dog_rates,6.780211e+17,...,NaN,NaN,NaN,NaN,438,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1815,2015-12-15 02:32:17,"[0, 110]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,992,False,After some outrage from the crowd. Bubbles is ...,676590572941893632,dog_rates,6.765883e+17,...,NaN,NaN,NaN,NaN,142,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1838,2015-12-13 02:51:51,"[0, 144]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 675870715636224001, 'id_str'...",1771,False,&amp; this is Yoshi. Another world record cont...,675870721063669760,dog_rates,6.757073e+17,...,0.0,0.0,NaN,NaN,628,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1840,2015-12-13 01:25:37,"[0, 111]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1021,False,This dog is being demoted to a 9/10 for not we...,675849018447167488,dog_rates,6.758457e+17,...,NaN,NaN,NaN,NaN,170,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1848,2015-12-12 16:02:36,"[0, 82]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 675707321759039488, 'id_str'...",2141,False,We've got ourselves a battle here. Watch out R...,675707330206547968,dog_rates,6.754971e+17,...,0.0,0.0,NaN,NaN,767,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1862,2015-12-11 16:20:15,"[0, 58]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 675349367813877760, 'id_str'...",4230,False,Yea I lied. Here's more. All 13/10 https://t.c...,675349384339542016,dog_rates,6.749998e+17,...,0.0,0.0,NaN,NaN,2520,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1878,2015-12-10 17:11:09,"[0, 101]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 674999800484368385, 'id_str'...",2417,False,Ok last one of these. I may try to make some m...,674999807681908736,dog_rates,6.747934e+17,...,0.0,0.0,NaN,NaN,1228,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1881,2015-12-10 03:30:58,"[0, 51]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 674793390643482624, 'id_str'...",2679,False,I have found another. 13/10 https://t.co/HwroP...,674793399141146624,dog_rates,6.717299e+17,...,0.0,0.0,NaN,NaN,1217,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1888,2015-12-10 00:54:28,"[0, 89]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 674754014320402432, 'id_str'...",1457,False,Just received another perfect photo of dogs an...,674754018082705410,dog_rates,6.747522e+17,...,0.0,0.0,NaN,NaN,488,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1891,2015-12-10 00:08:50,"[0, 107]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,525,False,Some clarification is required. The dog is sin...,674742531037511680,dog_rates,6.747400e+17,...,NaN,NaN,NaN,NaN,55,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1901,2015-12-09 15:09:55,"[0, 134]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1006,False,The 13/10 also takes into account this impecca...,674606911342424069,dog_rates,6.744689e+17,...,NaN,NaN,NaN,NaN,113,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1936,2015-12-07 04:11:02,"[0, 88]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,3274,False,The millennials have spoken and we've decided ...,673716320723169284,dog_rates,6.737159e+17,...,NaN,NaN,NaN,NaN,839,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2032,2015-12-01 16:37:44,"[0, 76]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 671729900588417024, 'id_str'...",9073,False,I'm just going to leave this one here as well....,671729906628341761,dog_rates,6.715610e+17,...,0.0,0.0,NaN,NaN,4766,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2034,2015-12-01 04:44:10,"[0, 135]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,963,False,After 22 minutes of careful deliberation this ...,671550332464455680,dog_rates,6.715449e+17,...,NaN,NaN,NaN,NaN,228,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2145,2015-11-26 01:11:28,"[0, 125]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,551,False,After countless hours of research and hundreds...,669684865554620416,dog_rates,6.693544e+17,...,NaN,NaN,NaN,NaN,98,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2165,2015-11-25 03:14:30,"[0, 114]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 669353426984296449, 'id_str'...",688,False,This is Tessa. She is also very pleased after ...,669353438988365824,dog_rates,6.678065e+17,...,0.0,0.0,NaN,NaN,279,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2294,2015-11-18 20:02:51,"[0, 69]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,87,False,After much debate this dog is being upgraded t...,667070482143944705,dog_rates,6.670655e+17,...,NaN,NaN,NaN,NaN,14,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [24]:
### check values
tweetclean.in_reply_to_screen_name.value_counts()
### may be dog_rates is a default reply name or thumbs
### drop column

dog_rates          47
markhoppus          2
ABC                 1
CommonWhiteGirI     1
Marc_IRL            1
RealKentMurphy      1
roushfenway         1
wane15              1
shibbnbot           1
LightningHoltt      1
spaghemily          1
serial              1
ComplicitOwl        1
TheEllenShow        1
imgur               1
bragg6of8           1
SkyWilliams         1
mount_alex3         1
ABC7                1
dhmontgomery        1
xianmcguire         1
NBCSports           1
Jack_Septic_Eye     1
JODYHiGHROLLER      1
NonWhiteHat         1
docmisterio         1
HistoryInPics       1
0_kelvin_0          1
s8n                 1
jonnysun            1
UNC                 1
Name: in_reply_to_screen_name, dtype: int64

In [25]:
## droplist2
droplist2 = inslist1.copy()
### use .copy to copy rather than llink
droplist2.append('quoted_status')
droplist2.append('retweeted_status')
droplist2.append('user')
#droplist2 = ['truncated','retweeted','possibly_sensitive_appealable','possibly_sensitive','lang','is_quote_status','favorited']

In [26]:
## drop2 excute
drop_column(tweetclean,droplist2)

---- proceding ----
- drop 14 columns: ['favorited', 'in_reply_to_screen_name', 'in_reply_to_status_id', 'in_reply_to_user_id', 'is_quote_status', 'lang', 'possibly_sensitive', 'possibly_sensitive_appealable', 'quoted_status_id', 'retweeted', 'truncated', 'quoted_status', 'retweeted_status', 'user']
- remain 9 columns
- success : True

#### // check3 - detail cols

In [27]:
# check3
## recheck sample
check_sample(tweetclean)

----checking sample index: 785

- columns #1 : created_at
['2016-09-08T20:45:53.000000000']

- columns #2 : display_text_range
[list([0, 116])]

- columns #3 : entities
[{'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [], 'media': [{'id': 773985718767149057, 'id_str': '773985718767149057', 'indices': [117, 140], 'media_url': 'http://pbs.twimg.com/media/Cr2_6RRXYAE1ojW.jpg', 'media_url_https': 'https://pbs.twimg.com/media/Cr2_6RRXYAE1ojW.jpg', 'url': 'https://t.co/RFWtDqTnAz', 'display_url': 'pic.twitter.com/RFWtDqTnAz', 'expanded_url': 'https://twitter.com/dog_rates/status/773985732834758656/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}}}]}]

- columns #4 : extended_entities
[{'media': [{'id': 773985718767149057, 'id_str': '773985718767149057', 'indices': [117, 140], 'media_url': 'http://pbs.twimg.com/media/Cr2_6RRXYAE1ojW.jpg', 'media_url_https': 'https://pbs.twimg.com/media/Cr2_6RRXYAE1ojW.jpg', 'url': 'https://t.co/RFWtDqTnAz', 'display_url': 'pic.twitter.com/RFWtDqTnAz', 'expanded_url': 'https://twitter.com/dog_rates/status/773985732834758656/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}}}, {'id': 773985718876143679, 'id_str': '773985718876143679', 'indices': [117, 140], 'media_url': 'http://pbs.twimg.com/media/Cr2_6RrWgD89Tgb.jpg', 'media_url_https': 'https://pbs.twimg.com/media/Cr2_6RrWgD89Tgb.jpg', 'url': 'https://t.co/RFWtDqTnAz', 'display_url': 'pic.twitter.com/RFWtDqTnAz', 'expanded_url': 'https://twitter.com/dog_rates/status/773985732834758656/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}}}, {'id': 773985718922317824, 'id_str': '773985718922317824', 'indices': [117, 140], 'media_url': 'http://pbs.twimg.com/media/Cr2_6R2XEAA0CmH.jpg', 'media_url_https': 'https://pbs.twimg.com/media/Cr2_6R2XEAA0CmH.jpg', 'url': 'https://t.co/RFWtDqTnAz', 'display_url': 'pic.twitter.com/RFWtDqTnAz', 'expanded_url': 'https://twitter.com/dog_rates/status/773985732834758656/photo/1', 'type': 'photo', 'sizes': {'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}}}, {'id': 773985718947414016, 'id_str': '773985718947414016', 'indices': [117, 140], 'media_url': 'http://pbs.twimg.com/media/Cr2_6R8WAAAUMtc.jpg', 'media_url_https': 'https://pbs.twimg.com/media/Cr2_6R8WAAAUMtc.jpg', 'url': 'https://t.co/RFWtDqTnAz', 'display_url': 'pic.twitter.com/RFWtDqTnAz', 'expanded_url': 'https://twitter.com/dog_rates/status/773985732834758656/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}}}]}]

- columns #5 : favorite_count
[11869]

- columns #6 : full_text
['Meet Winnie. She just made awkward eye contact with the driver beside her. Poor pupper panicked. 11/10 would comfort https://t.co/RFWtDqTnAz']

- columns #7 : id------
[773985732834758656]

- columns #8 : retweet_count
[4449]

- columns #9 : source--
['<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>']
'----checking complete----'

In [28]:
## detlist1
### check dict long columns
detlist1 = ['entities','extended_entities']

In [29]:
## det check
check_detail(tweetclean,detlist1)
### not new info  -> drop

- columns #1 : entities
{'hashtags': [],
 'media': [{'display_url': 'pic.twitter.com/MgUWQ76dJU',
            'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
            'id': 892420639486877696,
            'id_str': '892420639486877696',
            'indices': [86, 109],
            'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
            'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
            'sizes': {'large': {'h': 528, 'resize': 'fit', 'w': 540},
                      'medium': {'h': 528, 'resize': 'fit', 'w': 540},
                      'small': {'h': 528, 'resize': 'fit', 'w': 540},
                      'thumb': {'h': 150, 'resize': 'crop', 'w': 150}},
            'type': 'photo',
            'url': 'https://t.co/MgUWQ76dJU'}],
 'symbols': [],
 'urls': [],
 'user_mentions': []}

- columns #2 : extended_entities
{'media': [{'display_url': 'pic.twitter.com/MgUWQ76dJU',
            'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
            'id': 892420639486877696,
            'id_str': '892420639486877696',
            'indices': [86, 109],
            'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
            'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
            'sizes': {'large': {'h': 528, 'resize': 'fit', 'w': 540},
                      'medium': {'h': 528, 'resize': 'fit', 'w': 540},
                      'small': {'h': 528, 'resize': 'fit', 'w': 540},
                      'thumb': {'h': 150, 'resize': 'crop', 'w': 150}},
            'type': 'photo',
            'url': 'https://t.co/MgUWQ76dJU'}]}

In [30]:
## droplist3
droplist3 = detlist1.copy()

## drop3 excute
drop_column(tweetclean,droplist3)

---- proceding ----
- drop 2 columns: ['entities', 'extended_entities']
- remain 7 columns
- success : True

In [31]:
tweetclean.columns

Index(['created_at', 'display_text_range', 'favorite_count', 'full_text', 'id',
       'retweet_count', 'source'],
      dtype='object')

#### /review/ quanlity
根据数据删除剩余7列 ['created_at', 'display_text_range', 'favorite_count', 'full_text', 'id',
       'retweet_count', 'source']
- id 为标识列
- created_at 包括时间、日期,可以进行时序分析
- display_text_range 为文字长度
- favorite_count 为点赞数
- full_text 为文字内容
- retweet_count 为回复数
- source 为来源

### / tidyness
根据质量部分的输出,对于除id列之外的需要进行清洁度的整理
- created_at 包括时间、日期,可以进行时序分析
    - 转换为 datafame 的 datetime 格式
- display_text_range 为文字长度
    - 原格式为 [0-x] x实际为推文长度,需要提取 x
    - 本列为非必须列,可以根据 full_text 得出回复长度
- favorite_count 为点赞数
    - 需要检查格式
- full_text 为文字内容
    - 暂不用处理,后续如果进行nlp的分析需要进行向量化
- retweet_count 为回复数
    - 需要检查格式
- source 为来源
    - 来源为链接,中间为发布信息的设备
    - 需要使用 re 来完成提取
    - 最后输出为分类信息

### / copy df

In [32]:
## df copy for cleaning
tweettidy = tweetclean.copy()
### id should retained for further identity usage
### consider privacy and easy of proceed
### delete in this project
droplist4 = ['id']
drop_column(tweettidy,droplist4)

---- proceding ----
- drop 1 columns: ['id']
- remain 6 columns
- success : True

## 清理
关于数据质量的问题,在上一节已经处理完成了,本节任务是完成数据整洁的问题

### / missing data

In [33]:
# check missing
tweettidy.notnull().all()
## not any null data -> pass

created_at            True
display_text_range    True
favorite_count        True
full_text             True
retweet_count         True
source                True
dtype: bool

In [34]:
# check describe
tweettidy.describe()
## both count do not have to change type
## value seems ok

       favorite_count  retweet_count
count     2352.000000    2352.000000
mean      8109.198980    3134.932398
std      11980.795669    5237.846296
min          0.000000       0.000000
25%       1417.000000     618.000000
50%       3596.500000    1456.500000
75%      10118.000000    3628.750000
max     132318.000000   79116.000000

In [35]:
# check info
tweettidy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2352 entries, 0 to 2351
Data columns (total 6 columns):
created_at            2352 non-null datetime64[ns]
display_text_range    2352 non-null object
favorite_count        2352 non-null int64
full_text             2352 non-null object
retweet_count         2352 non-null int64
source                2352 non-null object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 110.3+ KB

### / tidy data
#### // created_at
define: 将数据转换为时间格式
- solution1 使用 dataframe 的 datatime 格式
    - 数据本身为 datetime 格式
    - 如果是时序的数据可以将时间转换为 index,非常方便筛选 https://chrisalbon.com/python/data_wrangling/pandas_time_series_basics/
- (solution2 使用 python datatime 格式、calendar格式)

In [36]:
# code
## convert to pandas datetime format

In [90]:
tweettidy.created_at.sample()

1498   2016-01-26 17:50:29
Name: created_at, dtype: datetime64[ns]

In [37]:
## test

#### // display_text_range
define: 抽取出 text 的长度,存为整数
- solution1 使用 python standard re lib
    - 抽出字符
    - 转换为 int

In [38]:
# code
## extract str

In [39]:
## convert to int

In [40]:
## test

#### // full_text
define:
- 每个评价后面都有一个分值和链接 11/10 https://t.co/8W5iSOgXfx
- 评分为 10/10 或 11/10,没找到说明, 链接科学上网也不能访问
- 需要删除后保存
- 此处不做处理,词云的制作最后再做

In [78]:
# code
## extract str

In [ ]:
## test

#### // source
define: 抽取出发 tweet 使用的设备
    - 信息是这样的 <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
    - 需要抽取出 `Twitter for iPhone`, 并定义分类为 iphone
    - 将本列做成分类数据

In [79]:
# code
## extract str

In [80]:
## test

### / polishing data
最终对数据进行检查和调整,生成最终的数据

#### // (word clouding data generate)

In [81]:
# code
## extract str

In [82]:
## test

#### // finial data check

In [83]:
# code
## extract str

#### // save df

In [84]:
# code
## extract str

## 可视化

### / data visulization

In [85]:
# code
## extract str

### / data interact visulization

In [86]:
# code
## extract str

### / word cloud generate

In [87]:
# code
## extract str

## 结论